.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller {
  width: max-content;
  display: flex;
  gap: 3rem;
  animation: scroll 20s linear infinite;
}

.scroller_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 1.5rem));
  }
}
