.section {
    padding: 90px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textBox {
    width: 520px;
}

.subtitle {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: var(--accent-mb);
}

.title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-txt)
}

.text {
   
    font-size: 16px;
    line-height: 28px;
    color: var(--second-txt);
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}