.section {
    padding: 90px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textBox {
    width: 520px;
}

.text {
  font-size: 16px;
  line-height: 28px;
  color: var(--second-txt);
}