@import '../../app/mixins.module.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--bg-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @include screen-size(mobile) {
    // max-width: 335px;
    width: 100%;
    height: 250px;
    padding: 20px 15px;
  }
}

.contacts_list_item {
  display: flex;
  align-items: center;
  width: 300px;
}

.company_name {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  margin-left: 15px;
  font-size: 16px;
  color: var(--second-txt);

  @include screen-size(mobile) {
    font-size: 14px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

