@import "../../app/mixins.module.scss";

.section {
  padding: 60px 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("/images/world-map.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include screen-size(mobile) {
    flex-direction: column;
    width: 100%;
  }
}

.image {
  @include screen-size(mobile) {
    display: none;
    // width: 320px;
    // height: auto;
  }
}

.textBlock {
  height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-size(mobile) {
    width: 320px;
    height: max-content;
  }
}

.subtitle {
  display: block;
  margin-bottom: 15px;
  margin-bottom: 16px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--accent-mb);
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  color: var(--main-txt);
}

.text {
  font-size: 16px;
  line-height: 28px;
  color: var(--second-txt);
  @include screen-size(mobile) {
    margin-bottom: 30px;
  }
}

.map {
  @include screen-size(mobile) {
    width: 100%;
    height: 300px;
  }
}
