:root {
  --prime-b: #004b8d;
  --prime-gb: rgb(162, 185, 208);
  --second-dg: #4a4a4a;
  --second-lg: #e6e6e6;
  --accent-mb: #0074d9;
  --accent-lb: #007aff;
  --neutral-lg: #f5f5f5;
  --neutral-db: #00274d;

  --main-txt: #19191b;
  --second-txt: #353943;
  --light-txt: #fff;

  --bg-lg: #f8fafc;
  --bg-white: #fff;

  --border-col: #d4d4d4;

  --border-r: 5px;
  --border-r2: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  // background-color: #004b8d;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: hidden;
  // padding-top: 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
