.header {
    width: 100%;;
    position:fixed;
    top: 0;
    height: 70px;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid var(--neutral-lg);
    
}
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    height: 100%;
   
}

.list_item {
   &:not(:last-of-type) {
    margin-right: 20px;
   }
}

.link {
    color: var(--main-txt);
    font-weight: 500;
    transition: color 200ms;

    &:hover {
        color: var(--accent-mb);
    }
}

.link_active {
    @extend .link;
    color: var(--accent-mb);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms;
    &:hover {
        fill: var(--accent-mb);
    }
}