@import '../../app/mixins.module.scss';

.section {
  padding: 90px 0px;
  overflow: hidden;
 
  @include screen-size(mobile) {
    padding: 60px 0;
  }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    @include screen-size(mobile) {
      flex-direction: column-reverse;
    }
}

.image {
  @include screen-size(mobile) {
    width: 100%;
  }
}

.textBox {
    width: 520px;
    @include screen-size(mobile) {
      width: 100%;
      margin-top: 20px; 
    }
  }

  .text {
    font-size: 16px;
    line-height: 28px;
    height: max-content;
    color: var(--second-txt);
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }